.content
  %ul.list-unstyled
    - @comps.each_with_index do |comp, idx|
      %li
        %h3
          %a{:class => 'char'+idx.to_s, :href => competition_show_path(comp.name)} #{comp.ensure_title}
  %br
  - if params[:action] == 'inactive'
    %a{:href => '/'} Active Competitions
  - else 
    %a{:href => '/inactive'} Inactive Competitions
