/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font: 12px sans-serif;
  font-family: Arial;
}

.axis text {
 	fill: #000;
}

.axis path,
.axis line {
	shape-rendering: crispEdges;
	fill: none;
	stroke: #000;
}
.axis line{
	stroke: #eee;
}
.axis path{
	display: none;
}

.line {
  fill: none;
  stroke-width: 4px;
}

.name {
  font-weight:bold;
}

#battle {
  svg {
    display:none; 
  } 
}
svg {
  margin: auto;
  display: block;
}
  .char0 { 
    color:#ffd500;
  }
  .char1 { 
    color:#80b325;
  }
  .char2 { 
    color:#00914a;
  }
  .char3 { 
    color:#019b9c;
  }
  .char4 { 
    color:#0081df;
  }
  .char5 { 
    color:#7b3cd5;
  }
  .char6 { 
    color:#e00b90;
  }
  .char7 { 
    color:#e53517;
  }
  .char8 { 
    // Space...
  }
  .char9 { 
    color:#eb6a0a;
  }
  .char10 { 
    color:#f49e00;
  }
  .char11 { 
    color:#ffd500;
  }
  .char12 { 
    color:#80b325;
  }
  .char13 { 
    color:#00914a;
  }
  .char14 { 
    color:#019b9c;
  }
  .char15 { 
    color:#0081df;
  }
  .char16 { 
    color:#7b3cd5;
  }
  .char17 { 
    color:#e00b90;
  }

.navbar-brand {
  left: 0px;
  position: absolute;
  min-width: 250px;
}

.dg.ac {
  z-index: 10000;
}

.opaque {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  /* IE 5-7 */
  filter: alpha(opacity=40);

  /* Netscape */
  -moz-opacity: 0.4;

  /* Safari 1.x */
  -khtml-opacity: 0.4;

  /* Good browsers */
  opacity: 0.4;
}

#battle {
  .navbar {
    .navbar-toggle {
      border: 0px; 
      padding: 0px 12px 0px 22px;
      top:0px;
      width:100%;
      height:50px;
      text-align: center;
    }
    padding-right: 0px;
    .title {
      float:left; 
      height:80px;
      a {
        font-size: 24px;
        float: right;
        margin-right: -40px;
        margin-top: -40px;
      }
    }
    #gui {
      display:none;
      float:right; 
      .dg {
        text-align: center;
        font-size: 12px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        input {
          text-align: center; 
        } 
      }
      .dg .cr {
        height: 40px;
      }
      .close-button {
        display:none !important;
      }
    } 
  }
}
.glyphicon:hover {
 text-decoration: none !important;
}
#info-modal {
  .modal-title {
    text-align: center; 
  }
}
#modal-quest {
  color: white;
  float:right;
  font-size:18px;
  cursor: pointer;
  margin-top:11px;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: #333;
  text-align:center;
  font-size: 12px;

  #some-guy-link {
    font-size: 1.1em;
    display: inline-block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto; 
  }
}
