/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #333 !important;
  font: 12px sans-serif;
  font-family: Arial;
}

.axis text {
 	fill: #000;
}

.axis path,
.axis line {
	shape-rendering: crispEdges;
	fill: none;
	stroke: #000;
}
.axis line{
	stroke: #eee;
}
.axis path{
	display: none;
}

.line {
  fill: none;
  stroke-width: 4px;
}

.name {
  font-weight:bold;
}

#battle {
  display:none;
}
svg {
  margin: auto;
  display: block;
}


.navbar-brand {

  .char1 { 
    color:#80b325;
  }
  .char2 { 
    color:#00914a;
  }
  .char3 { 
    color:#019b9c;
  }
  .char4 { 
    color:#0081df;
  }
  .char5 { 
    color:#7b3cd5;
  }
  .char6 { 
    color:#e00b90;
  }
  .char7 { 
    color:#e53517;
  }
  .char8 { 
    color:#eb6a0a;
  }
  .char9 { 
    color:#f49e00;
  }
  .char10 { 
    color:#ffd500;
  }
  .char11 { 
    color:#80b325;
  }
  .char12 { 
    color:#00914a;
  }
  .char13 { 
    color:#019b9c;
  }
  .char14 { 
    color:#0081df;
  }
  .char15 { 
    color:#7b3cd5;
  }
  .char16 { 
    color:#e00b90;
  }
  .char17 { 
    color:#e53517;
  }
}

.navbar-brand {
  left: 0px;
  position: absolute;
  min-width: 250px;
}


